.color-btn {
    background-color: transparent;
    font-size: 2rem;
}
input {
    cursor: pointer;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    width: 6rem;
    height: 2rem;
    margin: 0.5rem;
    margin-top: 0.1rem;
}

.container {
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
}
    

#themes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    padding-bottom: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.red-btn {
    background-color: red;
}

.blue-btn {
    background-color: blue;
}

.orange-btn {
    background-color: orange;
}

.green-btn {
    background-color: green;
}

.purple-btn {
    background-color: purple;
}


